#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  transmission:
    image: lscr.io/linuxserver/transmission:{{ transmission_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      - PUID={{ transmission_puid }}
      - PGID={{ transmission_pgid }}
      - TZ={{ timezone | default('UTC') }}
      - USER={{ transmission_user }}
      - FILE__PASS=/config/pass.txt
      {% if transmission_web_home is truthy %}
      - TRANSMISSION_WEB_HOME={{ transmission_web_home }}
      {% endif %}

    volumes:
      - ./config:/config
      - {{ transmission_download_dir }}:{{ transmission_download_dir_target }}
      - {{ transmission_watch_dir }}:{{ transmission_watch_dir_target }}

    labels:
      {{ traefik_project_base_labels | indent(6) }}
      {{ docker_project_service_additional_labels | indent(6) }}

  {{ docker_project_additional_services | default('') | indent(2) }}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
