#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath }}

name: {{ docker_project_slug }}

services:

  transmission:
    container_name: {{ docker_project_slug }}
    image: lscr.io/linuxserver/transmission:{{ transmission_version }}
    restart: unless-stopped
    {% if transmission_network_mode == 'host' %}
    network_mode: host
    {% endif %}

    {{ docker_project_compose_service_additional_options | indent(4) }}

    environment:
      - PUID={{ transmission_puid }}
      - PGID={{ transmission_pgid }}
      - TZ={{ timezone | default('UTC') }}
      - USER={{ transmission_user }}
      - FILE__PASS=/config/pass.txt

    volumes:
      - ./config:/config
      - {{ transmission_download_dir }}:/downloads
      - {{ transmission_watch_dir }}:/watch

    labels:
      {{ traefik_project_base_labels | indent(6) }}

{% if transmission_network_mode != 'host' %}
networks:
  {{ docker_project_default_network | indent(2) }}
{% endif %}

{{ docker_project_compose_additional_options }}
