#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath }}

name: {{ docker_project_slug }}

services:

  transmission:
    container_name: {{ docker_project_slug }}
    image: lscr.io/linuxserver/transmission:{{ transmission_version }}
    restart: always

    {{ docker_project_compose_service_additional_options | indent(4) }}

    environment:
      - PGID={{ ansible_user_gid }}
      - PUID={{ ansible_user_uid }}
      - TZ={{ timezone | default('UTC') }}
      - USER={{ transmission_user }}
      - FILE__PASS=/config/pass.txt

    volumes:
      - ./config:/config
      - {{ transmission_download_dir }}:/downloads
      - {{ transmission_watch_dir }}:/watch

    labels:
      {{ traefik_project_base_labels | indent(6) }}

networks:
  {{ docker_project_default_network | indent(2) }}

{{ docker_project_compose_additional_options }}
